SaleWorker/Service References/ServiceReference1/FullCalender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EventList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EventListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EventListSoapIn">
    <wsdl:part name="parameters" element="tns:EventList" />
  </wsdl:message>
  <wsdl:message name="EventListSoapOut">
    <wsdl:part name="parameters" element="tns:EventListResponse" />
  </wsdl:message>
  <wsdl:portType name="FullCalenderSoap">
    <wsdl:operation name="EventList">
      <wsdl:input message="tns:EventListSoapIn" />
      <wsdl:output message="tns:EventListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FullCalenderSoap" type="tns:FullCalenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventList">
      <soap:operation soapAction="http://tempuri.org/EventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FullCalenderSoap12" type="tns:FullCalenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventList">
      <soap12:operation soapAction="http://tempuri.org/EventList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FullCalender">
    <wsdl:port name="FullCalenderSoap" binding="tns:FullCalenderSoap">
      <soap:address location="http://localhost:34807/FullCalender.asmx" />
    </wsdl:port>
    <wsdl:port name="FullCalenderSoap12" binding="tns:FullCalenderSoap12">
      <soap12:address location="http://localhost:34807/FullCalender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>